body {
    background-color: #fff;
    background-position: fixed;
    line-height: 25px;
}

.content {
    background-color: #fbf468;
    border-radius: 25px;
    width: 300px;
    height: 400px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input {
    font-family: tahoma;
    font-size: 10px;
    color: #070707;
    width: 50%;
    height: 30px;
    background-color: transparent;
    outline: 0;
    border: 1px solid #4865f2;
    border-radius: 5px;
    padding: 0 0.5rem;
}

input:focus {
    border: 1px solid #949331;
}

input#submit {
    border: 1px solid #4865f2;
    background-color: #4865f2;
    color: white;
    cursor: pointer;
}

input#sub:hover {
    border: 1px solid #18568a;
    background-color: #18568a;
}

.belt {
    width: 220px;
    margin-bottom: -5px;
    margin-left: 4px;
}

.eye {
    position: absolute;
    width: 25px;
    top: 75px;
}

.leftEye {
    left: 112px;
}

.rightEye {
    left: 174px;
}

.bob {
    width: 150px;
    height: auto;
    padding-top: 20px;
    padding-left: 70px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.cir11 {
    position: absolute;
    padding: 5px;
    border: 1px;
    border: 1px solid black;
    border-radius: 90%;
}

.f1 {
    text-align: center;
}